.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  padding: 10px;
  height: 12px;
  border: none;
  width: 100%;
  outline: none;
}

.header__searchIcon {
  height: 22px !important;
  background-color: orange;
  padding: 5px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.navbar__optionLineOne {
  font-size: 13px;
}
.navbar__optionLineTwo {
  font-size: 15px;
  font-weight: 800;
}

.navbar__optionBasket {
  margin-top: 9px;
  display: flex;
  align-items: center;
  color: white;
}

.navbar__optionCount {
  margin-right: 10px;
  margin-left: 10px;
}
